.slider{
    background: black;
    background-size: cover;
    padding: 176px 10px;
    text-align: center;
    color: #fff;
    position: relative;

    .owl-nav{
        display: none;
    }


    .owl-dot.active{
        background: #fff;
    }

    .owl-dot {
        background: gray;
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        margin: 0 1px;
    }


    .owl-carousel2 .owl-dots{
        margin-top: 25px;
    }

}

.owl-carousel2 .owl-item  img{
    width: 104px;
    margin: 0 auto;
}

.owl-carousel2 h4{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: #fff;
    margin-bottom: 62px;
}

.owl-carousel2 h4:after{
    position: absolute;
    content: "";
    top: 250%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 5px;
    background: #f39c12;
}

.owl-carousel2 p{
    font: 300 22px/30px 'Open Sans', sans-serif;
    margin-bottom: 23px;
}
